/**
 * Description: Styles for the page hero
 * Dependencies: CSS Modules
 *
 * package: @epsilon
 */

/* === Main Styling === */
.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  float: left;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
  width: 100%;

  background-image: url("./header_bg.jpg");
  background-position-y: bottom;
  background-size: cover;
}

.header__nav_right {
  float: left;
  width: 50%;
}

/* === The Hero === */
.header__wordmark {
  float: left;
  width: 100%;

  text-align: center;
}
.header__name {
  float: left;
  margin: 0;
  padding: 0 0 0.25rem 0;
  width: 100%;

  color: #eee;
  font-size: 5rem;
}

.header__text {
  float: left;
  width: 100%;

  padding-bottom: 2rem;

  color: #eee;
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
}

.header__links {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;

  text-align: center;
}
.header__link {
  display: inline-block;
  float: none;
  width: auto;

  color: #eee;
  text-decoration: underline;
}
.header__link a {
  color: #eee;
}
.header__divider {
  display: inline-block;
  float: none;
  width: auto;

  padding-right: 0.5rem;
  padding-left: 0.5rem;

  color: #eee;
}
