/**
 * Description: Global styles for the page
 *
 * @package: epsilon
 **/

/* === Styles === */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
}
